h1 {
  font-family: Living Colours Personal Use;
  font-size: 80px;
  color: #ff80aa;
  text-shadow: 4px 4px #ffff66;
  margin-bottom: 0;
  }
body {
  background-color: #000033;
  }
p {
  font-family: CaviarDreamsBold;
  color: #ffffff;
}
h2{
  font-family: Dolce Vita Heavy Bold;
  color: #ffff66;
  margin-top: -20;
}
