h1 {
  font-family: Living Colours Personal Use;
  font-size: 100px;
  color: #ff80aa;
  text-shadow: 4px 4px #ffff66;
  }
body {
  background-color: #000033;
  }
p {
  font-family: Helvetica;
  color: #ffffff;
}
h2 {
  font-family: Dolce Vita Heavy Bold;
  color: #ffff66;
}
